.loader {
  width: 50px;
  padding: 7px;
  background: radial-gradient(farthest-side, #9c9d9f 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 10%, #9e9ea0);
  aspect-ratio: 1;
  border-radius: 50%;
  --_m: conic-gradient(#0000, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);

  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  box-sizing: border-box;
  animation: load 2s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(1turn);
  }
}

body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  place-content: center;

  animation: change 10s infinite ease-in-out;
}

@keyframes change {
  20% {
    background: #f3f2e0;
  }
  40% {
    background: #c5daf4;
  }
}
